@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bud Harbour</h1>
    <p class="lead">Welcome to Bud Harbour.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What do we sell?</h2>
        <p>
            Apparels, Smoking accessories, baked goods and hydroponic products.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Establishment</h2>
        <p>Bud Harbour was established in 2018 in Cape Town.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Convenient Ordering</h2>
        <p>Just create an account and place an order!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>